.button {
    border: none;
    outline: none;
    background: none;
    background-color: var(--color-primary);
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-secondary-dark);
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    transition: background-color .3s;
}