.button {
    border: none;
    outline: none;
    background: none;
    background-color: #ff9f43;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #222f3e;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    color: #ff9f43;
    background-color: #222f3e;
    transition: background-color .3s;
}