.card {
    width: 100%;
    min-height: 8rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1rem;
    font-size: 1.2rem;
}

.card h3 {
    color: var(--color-ultralight);
}

.card p {
    color: var(--color-secondary-dark);
}

.card-small {
    min-height: 12rem;
}

.card-medium {
    min-height: 16rem;
}

.card-large {
    min-height: 18rem;
}

.card-primary {
    background-color: var(--color-primary);
}

.card-secondary {
    background-color: var(--color-secondary);
}

.card-warning {
    background-color: var(--color-warning);
}

.card-light {
    background-color: var(--color-light);
}

.card-ok {
    background-color: var(--color-ok);
}