/* Third-party libraries */
@import "../third/icons-1.4.1/font/bootstrap-icons.css";

/* Helpers & utils */
@import "themes/main.css";
@import "helpers.css";
@import "animations.css";

/* Elements & components */
@import "banner.css";
@import "content.css";
@import "row.css";
@import "menu.css";
@import "form.css";
@import "button.css";
@import "card.css";
@import "metro.css";
@import "footer.css";
@import "section.css";
@import "table.css";
@import "spinner.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}