table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.5rem;
}

table tr.alt {
    background-color: var(--color-light);
}

table tr {
    transition: background-color .3s;
}

table tr:hover {
    background-color: var(--color-primary);
    transition: background-color .3s;
}

table tr:hover .button:not(:hover) {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color-secondary-dark);
}